{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Teams{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id = "createTeam" method="post">
    <label for="teamName">Team Name</label>
    <input name="teamName" id="teamName" required>
    <input type="submit" id = "createTeam" value="Create Team">
  </form>
<h1> Teams </h1>

<table border = 1 width = 30%>
{% for team in teamIDs %}
<tr> 
  <td>
  
  <iframe src={{url_for("teams.returnMessages", teamName = team[1])}} width = 100%>
  </iframe>
  
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}

